In [1]:
from score_converter import GPAConverter

<h3>Instantiate and log-in</h3>

In [4]:
user = GPAConverter()

Username: 13200519
Password: ········

<h3>Calculate Decimal graded average (IAA)</h3>

In [5]:
user.get_iaa()

/home/artur/Desktop/DS/iaa_to_gpa/score_converter.py:192: Warning: get_grade_records was not previously executed
  warnings.warn('get_grade_records was not previously executed', Warning)

IAA: 8.67

/home/artur/Desktop/DS/iaa_to_gpa/score_converter.py:162: Warning: Empty credit points subject
  warnings.warn('Empty credit points subject', Warning)

<h3>Get transcript of records</h3>

In [6]:
df = user.get_grade_records()
df.tail()

/home/artur/Desktop/DS/iaa_to_gpa/score_converter.py:162: Warning: Empty credit points subject
  warnings.warn('Empty credit points subject', Warning)

       code  credits  grade                                            subject
55  EMC5006      4.0    9.0                                         Eletrônica
56  EMC5341      3.0    9.0                                         Otimização
57  EPS7005      4.0    9.0                               Pesquisa Operacional
58  EPS7013      3.0    9.5                                   Empreendedorismo
59  PSI5910      2.0   10.0  Temas em psicologia: Orientação e Planejamento...

### Simulate IAA

In [7]:
simulate = [
    {'code':'AAAAA', 'subject':'Subject A', 'credits':4, 'grade':10},
    {'code':'BBBBB', 'subject':'Subject B' ,'credits':3, 'grade':10},
    {'code':'CCCCC', 'subject':'Subject C','credits':3, 'grade':10},
    {'code':'DDDDD', 'subject':'Subject D','credits':2, 'grade':10},
    {'code':'EEEEE', 'subject':'Subject E','credits':5, 'grade':10}
]
print('Simulated')
user.get_iaa(transcript=df.append(simulate))

Simulated
IAA: 8.76

<h3>Calculate GPA</h3>

In [8]:
user.get_gpa()

GPA: 3.40

<h3>Use different scales for GPA</h3>

In [13]:
user.get_gpa(scale_id=2)

GPA: 3.22

<h3>Simulate GPA</h3>

In [9]:
print('Simulated')
user.get_gpa(transcript=df.append(simulate))

Simulated
GPA: 3.44

<h3>Export transcript with GPA and translated subject names to a Excel spreadsheet</h3>

In [16]:
user.export_translated_transcript(scale_id=1)

file saved as ./exported_translated_transcript.xlsx

In [22]:
import pandas as pd
pd.read_excel('./exported_translated_transcript.xlsx').sample()

,code,credits,grade,gpa,subject,translated
51,EMC5522,29,10.0,4,Estágio Profissional em Engenharia Mecânica,Professional Probatory Period